@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Inter:wght@400;500&display=swap");
body {
  font-size: 1rem;
  font-family: Inter;
  width: 100%;
  height: 50vh;
}
:root {
  --base-font-size: 16px; /* Default base font size */
}
.main{
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}
.header{
    width: 90%;
    height: 8vh;
    border: 2px solid blue;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
/* Image .header */
.arrowimg{
    width: 100%;
    height:50%;
    margin-top: 100%;
}
.logoimg{
    width: 100%;
    height: 120%;
    margin-top: 1%;
    margin-left: 300%; 
}
.line{
    width: 90%;
    border: 1px solid black;
    margin-left: 5%;
}
.banner{
    width: 90%;
    height: 60vh;
    border: 2px solid red;
    margin-left: 5%;
    margin-top: 0.5%;
}
.bannerimg{
    width: 100%;
    height: 100%;
}