/* start.module.css */
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Inter:wght@400;500&display=swap");

:root {
  --base-font-size: 16px; /* Default base font size */
}
.main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  border: 2px solid red;
  width: 80vw; /* Use viewport width (100%) instead of a fixed width */
  height: 100vh; /* Use viewport height (100%) instead of a fixed height */
  flex-direction: column;
  background-image: url("../assets/bg.webp");
  /* background-size: cover; Use 'contain' to maintain original size without zooming */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-left: 10%;
}
.logobox {
  width: 50%; /* 50% of the width of the parent container (.main) */
  height: 22vh; /* 22% of the height of the parent container (.main) */
  margin-top: 8%; /* Adjust this value based on your desired vertical position */
  margin-left: 25%; /* Adjust this value based on your desired horizontal position */
  border: 2px solid black;
}
.loginbox{
  width:50%;
  height: 40vh;
  border: 2px solid grey;
  margin-left: 25%;
}



