/* start.module.css */
.main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  border: 2px solid red;
  width: 100vw; /* Use viewport width (100%) instead of a fixed width */
  height: 100vh; /* Use viewport height (100%) instead of a fixed height */
  flex-direction: column;
  background-image: url("../assets/bg.webp");
  /* background-size: cover; Use 'contain' to maintain original size without zooming */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
  .content {
    padding: 20px;
    flex-grow: 1;
    opacity: 1;
  }
  
  @media (max-width: 600px) {
    .main {
      background-size: 100% auto; /* Use 'contain' for smaller screens to fit the image without cropping */
    }
  }
  
  /* For screens between 601px and 1024px */
  @media (min-width: 601px) and (max-width: 1024px) {
    .main {
      max-width: 800px;
      margin: 0 auto;
      background-size: 100% auto;
    }
  }
  
  /* For screens larger than 1024px */
  @media (min-width: 1025px) {
    .main {
      max-width: 1200px;
      margin: 0 auto;
      background-size: 100% 100%;
    }
  }
  
  /* Adjust the background image size for smaller screens */
  @media (max-width: 768px) {
    .main {
      background-size: 100% 100%; /* Use 'contain' for smaller screens to fit the image without cropping */
    }
  }
  